extends ../node_modules/pug-bootstrap/_bootstrap

append body
  h1= title
  p Welcome to #{title}
  +alert-info(source)

  div.container
    form(method='POST' action='' type='callAPI')
      div.form-group
        input(type='hidden' name='mappingId' value=mappingId)
        label(for='fd_intent') Intent: 
        input#intent.form-control(type='text', placeholder='Please select intent...' name='intent' value=intent)
        br
        label(for='country') Country:
        select#country.select.form-control.input-lg(type='select' placeholder='เลือกประเทศ' name='country')
        script.
          var pOptions = document.getElementById('country').options;
          for (i=0; i < pOptions.length; i++) {
            if (pOptions[i].value == #{country}) pOptions[i].selected = true;
          }
          option(value="ญี่ปุ่น" selected= country.id == ญี่ปุ่น) ญี่ปุ่น
          option(value="เกาหลี" selected= country.id == เกาหลี) เกาหลี
          option(value="ฮ่องกง" selected= country.id == ฮ่องกง) ฮ่องกง
          option(value="สิงคโปร์" selected= country.id == สิงคโปร์) สิงคโปร์
          option(value="ยุโรป" selected= country.id == ยุโรป) ยุโรป
          option(value="พม่า" selected= country.id == พม่า) พม่า
          option(value="เวียดนาม" selected= country.id == เวียดนาม) เวียดนาม
          option(value="จีน" selected= country.id == จีน) จีน
          option(value="มาเก๊า" selected= country.id == มาเก๊า) มาเก๊า
          option(value="ลาว" selected= country.id == ลาว) ลาว
          option(value="ไต้หวัน" selected= country.id == ไต้หวัน) ไต้หวัน
          option(value="เยอรมัน" selected= country.id == เยอรมัน) เยอรมัน
          option(value="อินเดีย" selected= country.id == อินเดีย) อินเดีย
          option(value="อเมริกา" selected= country.id == อเมริกา) อเมริกา
          option(value="ออสเตรเลีย" selected= country.id == ออสเตรเลีย) ออสเตรเลีย
          option(value="นิวซีแลนด์" selected= country.id == นิวซีแลนด์) นิวซีแลนด์
          option(value="อียิปต์" selected= country.id == อียิปต์) อียิปต์
          option(value="แอฟริกาใต้" selected= country.id == แอฟริกาใต้) แอฟริกาใต้
          option(value="รัสเซีย" selected= country.id == รัสเซีย) รัสเซีย
          option(value="อังกฤษ" selected= country.id == อังกฤษ) อังกฤษ
          option(value="ออสเตรีย" selected= country.id == ออสเตรีย) ออสเตรีย
        br
        label(for='tourcode') Product Code:
        input#tourcode.form-control(type='text', placeholder='รหัสสินค้า' name='tourcode' value=tourcode)
        br
        label(for='departuredate') Departure:
        input#departuredate.form-control(type='Number', placeholder='วันเดินทางไป' name='departuredate' value=departuredate)
        br
        label(for='month') Departure-Month:
        input#month.form-control(type='text', placeholder='เดือนที่จะเดินทาง' name='month' value=month)
        br
        label(for='returndate') Return:
        input#returndate.form-control(type='Number', placeholder='วันเดินทางกลับ' name='returndate' value=returndate)
        br
        label(for='month') Return-Month:
        input#month.form-control(type='text', placeholder='เดือนที่จะเดินทาง' name='month' value=month)
        br
        label(for='traveler') Number of passengers:
        input#traveler.form-control(type='Number', placeholder='จำนวนคนที่จะเดินทาง' name='traveler' value=traveler)
        br
        +submit-primary("ส่งข้อมูล")        

    if errors
      ul
        for error in errors
          li!=error.msg