extends ../node_modules/pug-bootstrap/_bootstrap

append body
  h1= title
  p Welcome to #{title}
  +alert-info(source)

  div.container
    form(method='POST' action='' type='callAPI')
      div.form-group
        input(type='hidden' name='mappingId' value=mappingId)
        label(for='fd_intent') Intent: 
        input#intent.form-control(type='text', placeholder='Please select intent...' name='intent' value=intent)
        br
        label(for='country') Country:
        select#country.select.form-control.input(type='select' placeholder='เลือกประเทศ' name='country' value=country)
          - listcountrys = [ 'ญี่ปุ่น', 'เกาหลี', 'ฮ่องกง', 'สิงคโปร์', 'ยุโรป', 'พม่า', 'เวียดนาม', 'จีน', 'มาเก๊า', 'ลาว', 'ไต้หวัน', 'เยอรมัน', 'อินเดีย', 'อเมริกา', 'ออสเตรเลีย', 'นิวซีแลนด์', 'อียิปต์', 'แอฟริกาใต้', 'รัสเซีย', 'อังกฤษ', 'ออสเตรีย']
          for item in listcountrys
            option(selected=country == item) #{item}
        br
        label(for='city') City:
        select#city.select.form-control.input(type='select' placeholder='เลือกประเทศ' name='city' value=city)
          - listcitys = [ 'โตเกียว', 'ฮอกไกโด', 'โอซาก้า', 'ฟุกุโอกะ', 'ปูซาน', 'มัณฑะเลย์', 'ย่างกุ้ง', 'ฮานอย', 'ซาปา', 'ดานัง', 'จางเจียเจี้ย', 'คุนหมิง', 'กุ้ยหลิน', 'ปักกิ่ง']
          for item in listcitys 
            option(selected=city == item) #{item}
        br
        label(for='tourcode') Product Code:
        input#tourcode.form-control(type='text', placeholder='รหัสสินค้า' name='tourcode' value=tourcode)
        br
        label(for='departuredate') Departure:
        input#departuredate.form-control(type='Number', placeholder='วันเดินทางไป' name='departuredate' value=departuredate)
        br
        label(for='departuremonth') Departure-Month:
        select#departuremonth.select.form-control.input(type='select' placeholder='เดือนที่จะเดินทาง' name='departuremonth' value=departuremonth)
          - listDMonth = [ 'มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']
          option(value="") เลือกเดือน
          for Ditem in listDMonth
            option(selected=departuremonth == Ditem) #{Ditem}
        br
        label(for='returndate') Return:
        input#returndate.form-control(type='Number', placeholder='วันเดินทางกลับ' name='returndate' value=returndate)
        br
        label(for='returnmonth') Return-Month:
        select#returnmonth.select.form-control.input(type='select' placeholder='เดือนที่จะเดินทาง' name='returnmonth' value=returnmonth)
          - listRMonth = [ 'มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม']
          option(value="") เลือกเดือน
          for Ritem in listRMonth
            option(selected=returnmonth == Ritem) #{Ritem}
        br
        label(for='traveler') Number of passengers:
        input#traveler.form-control(type='Number', placeholder='จำนวนคนที่จะเดินทาง' name='traveler' value=traveler)
        br
        +submit-primary("ส่งข้อมูล")        

    if errors
      ul
        for error in errors
          li!=error.msg