extends ../node_modules/pug-bootstrap/_bootstrap

append body
  h1= title
  p Welcome to #{title}
  +alert-info(source)

  div.container
    form(method='POST' action='' type='callAPI')
      div.form-group
        input(type='hidden' name='mappingId' value=mappingId)
        label(for='fd_intent') Intent: 
        input#intent.form-control(type='text', placeholder='Please select intent...' name='intent' value=intent)
        br
        label(for='country') Country:
        select#country.select.form-control.input(type='select' placeholder='เลือกประเทศ' name='country' value=country)
          - repeation = [ 'ญี่ปุ่น', 'เกาหลี', 'ฮ่องกง', 'พม่า']
          for item in repeation
            option(selected=country == item) #{item}
        //- select#country.select.form-control.input(type='select' placeholder='เลือกประเทศ' name='country' value=country)
        //-   option(value="ญี่ปุ่น") ญี่ปุ่น
        //-   option(value="เกาหลี") เกาหลี
        //-   option(value="ฮ่องกง") ฮ่องกง
        //-   option(value="สิงคโปร์") สิงคโปร์
        //-   option(value="ยุโรป") ยุโรป
        //-   option(value="พม่า" ) พม่า
        //-   option(value="เวียดนาม") เวียดนาม
        //-   option(value="จีน") จีน
        //-   option(value="มาเก๊า") มาเก๊า
        //-   option(value="ลาว") ลาว
        //-   option(value="ไต้หวัน") ไต้หวัน
        //-   option(value="เยอรมัน") เยอรมัน
        //-   option(value="อินเดีย") อินเดีย
        //-   option(value="อเมริกา") อเมริกา
        //-   option(value="ออสเตรเลีย") ออสเตรเลีย
        //-   option(value="นิวซีแลนด์") นิวซีแลนด์
        //-   option(value="อียิปต์") อียิปต์
        //-   option(value="แอฟริกาใต้") แอฟริกาใต้
        //-   option(value="รัสเซีย") รัสเซีย
        //-   option(value="อังกฤษ") อังกฤษ
        //-   option(value="ออสเตรีย") ออสเตรีย
        br
        label(for='tourcode') Product Code:
        input#tourcode.form-control(type='text', placeholder='รหัสสินค้า' name='tourcode' value=tourcode)
        br
        label(for='departuredate') Departure:
        input#departuredate.form-control(type='Number', placeholder='วันเดินทางไป' name='departuredate' value=departuredate)
        br
        label(for='month') Departure-Month:
        //- input#month.form-control(type='text', placeholder='เดือนที่จะเดินทาง' name='month' value=month)
        select#departuremonth.form-control(type='select', placeholder='เดือนที่จะเดินทาง' name='departuremonth' value=departuremonth)
          option(value="มกราคม") มกราคม
          option(value="กุมภาพันธ์") กุมภาพันธ์
          option(value="มีนาคม") มีนาคม
          option(value="เมษายน") เมษายน
          option(value="พฤษภาคม") พฤษภาคม
          option(value="มิถุนายน" ) มิถุนายน
          option(value="กรกฎาคม") กรกฎาคม
          option(value="สิงหาคม") สิงหาคม
          option(value="กันยายน") กันยายน
          option(value="ตุลาคม") ตุลาคม
          option(value="พฤศจิกายน") พฤศจิกายน
          option(value="ธันวาคม") ธันวาคม
        br
        label(for='returndate') Return:
        input#returndate.form-control(type='Number', placeholder='วันเดินทางกลับ' name='returndate' value=returndate)
        br
        label(for='month') Return-Month:
        //- input#month.form-control(type='text', placeholder='เดือนที่จะเดินทาง' name='month' value=month)
        select#returnmonth.form-control(type='select', placeholder='เดือนที่จะเดินทาง' name='returnmonth' value=returnmonth)
          option(value="มกราคม") มกราคม
          option(value="กุมภาพันธ์") กุมภาพันธ์
          option(value="มีนาคม") มีนาคม
          option(value="เมษายน") เมษายน
          option(value="พฤษภาคม") พฤษภาคม
          option(value="มิถุนายน" ) มิถุนายน
          option(value="กรกฎาคม") กรกฎาคม
          option(value="สิงหาคม") สิงหาคม
          option(value="กันยายน") กันยายน
          option(value="ตุลาคม") ตุลาคม
          option(value="พฤศจิกายน") พฤศจิกายน
          option(value="ธันวาคม") ธันวาคม
        br
        label(for='traveler') Number of passengers:
        input#traveler.form-control(type='Number', placeholder='จำนวนคนที่จะเดินทาง' name='traveler' value=traveler)
        br
        +submit-primary("ส่งข้อมูล")        

    if errors
      ul
        for error in errors
          li!=error.msg